
<div class="body"><div class="about-section">
    
   
</div>

<h2 style="text-align:center"></h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.W3zdXGwcL-V79rH3H7eCrAHaFI?pid=ImgDet&rs=1" alt="Jane" style="width:100%">
      <div class="container">
        <h2>apple</h2>
        
        <p><a class="button" routerLink="laptop">buy</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.3zOi5L0zxeL_alpAeaWYUwHaHa?pid=ImgDet&rs=1" alt="Jane" style="width:100%">
      <div class="container">
        <h2>nokia</h2>
        
        <p><a class="button">buys</a></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.AndIN-s7IjajcH3MEPnsXgHaFh?pid=ImgDet&rs=1" alt="Jane" style="width:100%">
      <div class="container">
        <h2>nokia</h2>
        
        <p><a class="button" >buy</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="column">
      <div class="card">
        <img src="https://images.moneycontrol.com/static-mcnews/2020/05/vivo-v19-770x433.jpg?impolicy=website&width=770&height=431" alt="Jane" style="width:100%">
        <div class="container">
          <h2>vivo</h2>
          
          <p><a class="button" routerLink="laptop">buy</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://images.news18.com/ibnlive/uploads/2020/12/1608002481_untitled-design-41.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>iq</h2>
          
          <p><a class="button">buys</a></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="https://i.pinimg.com/originals/c8/52/57/c852571097d41ef1608c5fcd97ab80c6.png" alt="Jane" style="width:100%">
        <div class="container">
          <h2>samsung</h2>
          
          <p><a class="button" >buy</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
