
<div class="body"><div class="about-section">
    
   
  </div>
  
  <h2 style="text-align:center"></h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://www.bhphotovideo.com/images/images2500x2500/lg_13z990_r_aas7u1_gram_i7_8565u_16gb_256ssd_1459831.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>laptop</h2>
          
          <p><a class="button" routerLink="laptop">buy</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.lDnD7L7TzQOM2RjUh3qwEwHaHa?pid=ImgDet&rs=1" alt="Jane" style="width:100%">
        <div class="container">
          <h2>mobile</h2>
          
          <p><a class="button" routerLink="mobile">buys</a></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.OI9kZn7exx5HqnPJA0ndyAAAAA?pid=ImgDet&w=400&h=401&rs=1" alt="Jane" style="width:100%">
        <div class="container">
          <h2>camera</h2>
          
          <p><a class="button" routerLink="camera" >buy</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>